<Layout::LoggedOut
  @pageTitle="Your Credentials"
>
  <form 
    {{on "submit" this.onUpdateCredentials}}
  >
    <section>
      <h3 class="heading-5">Personal Information</h3>
      <div class="flex flex-col lg:flex-row">
        <Input::Textbox
          @class="w-full mb-16 lg:w-1-2 lg:mr-8"
          @error={{this.firstNameError}}
          @label="First Name"
          @name="first-name"
          @value={{this.firstName}}
        />
        <Input::Textbox
          @class="w-full mb-16 lg:w-1-2 lg:ml-8"
          @error={{this.lastNameError}}
          @label="Last Name"
          @name="last-name"
          @value={{this.lastName}}
        />
      </div>

      <Input::Textbox
        @class="w-full mb-16"
        @label="Email Address"
        @name="email"
        @readonly={{true}}
        @value={{this.onboarding.data.email}}
      />
      <Input::Textbox
        @class="w-full mb-16"
        @error={{this.workPhoneError}}
        @label="Work Phone Number"
        @message="Phone number is invalid."
        @name="work-phone"
        @type="tel"
        @value={{this.workPhone}}
        @onFocusOut={{fn this.onValidatePhoneNumber}}
      />
    </section>

    <section class="mt-32" data-role="company-information">
      <h3 class="heading-5">Company Information</h3>
      <dl>
        <dt class="mt-16">Company Name</dt>
        <dd class="text-base">{{this.onboarding.data.companyName}}</dd>

        <dt class="mt-16">Company Street Address</dt>
        <dd class="text-base">{{this.onboarding.data.companyAddress}}</dd>
      </dl>
      <div class="flex mt-16">
        <dl class="w-full md:w-1/4">
          <dt>Company City</dt>
          <dd class="text-base">{{this.onboarding.data.companyCity}}</dd>
        </dl>
        <dl class="w-full md:w-1/4">
          <dt>State</dt>
          <dd class="text-base">{{this.onboarding.data.companyState}}</dd>
        </dl>
        <dl class="w-full md:w-1/4">
          <dt>Postal Code</dt>
          <dd class="text-base">{{this.onboarding.data.companyZipcode}}</dd>
        </dl>
      </div>
    </section>

    {{#if (can "view trading credentials during onboard")}}
      <section class="mt-32" data-role="trading-credentials">
        <h3 class="heading-5">Trading Credentials</h3>
        <dl>
          <dt>Business Unit associated with this login</dt>
          <dd class="text-base">{{this.onboarding.data.businessUnit.name}}</dd>

          <dt class="mt-16">Clearing Accounts associated with this login</dt>
          {{#each this.onboarding.data.businessUnit.clearingAccounts as |clearingAccount| }}
            <dd class="text-base">{{clearingAccount.t7Account}}</dd>
          {{/each}}
        </dl>
      </section>
    {{/if}}

    <p class="my-32">
      If you notice any incorrect data that you cannot update please
      contact our customer service after completing your onboarding.
    </p>
    <Button
        @role="finish-onboarding"
        @disabled={{this.isSubmitDisabled}}
        @type="submit"
    >
      Finish Onboarding
    </Button>
  </form>
</Layout::LoggedOut>
