<Layout::LoggedOut
  @pageTitle="New Password"
>
  <form
    data-role="create-password-form"
    {{on "submit" this.onCreatePassword}}
  >
    <Input::Textbox
      @class="w-full mb-16"
      @error={{this.passwordManager.passwordError}}
      @label="Enter New Password"
      @message="Please enter a valid password."
      @name="password"
      @type="password"
      @value={{this.passwordManager.password}}

      @onKeyUp={{fn this.onCheckPasswordMatch}}
    />
    <Input::Textbox
      @class="w-full mb-16"
      @error={{this.passwordManager.passwordConfirmationError}}
      @success={{this.passwordManager.passwordConfirmationSuccess}}
      @label="Confirm New Password"
      @message={{this.passwordManager.passwordConfirmationMessage}}
      @name="confirm-password"
      @type="password"
      @value={{this.passwordManager.passwordConfirmation}}

      @onKeyUp={{fn this.onCheckPasswordMatch}}
    />

    <PasswordChecklist @class="mt-16 mb-24" />

    <div class="mt-24">
      <Input::Checkbox
        @name="user-acceptance"
        @checked={{this.hasAcceptedTerms}}
      >
        I accept the
        <Button
          @onClick={{fn this.onToggleUserAgreement true}}
          @style="link"
          @size="small"
          @class="ml-4"
        >
          Example Project User Agreement
        </Button>
      </Input::Checkbox>
    </div>

    <Button
      @role="create-password"
      @type="submit"
      @disabled={{not this.isUpdateBtnEnabled}}
      @class="block mt-24"
    >
      Update
    </Button>
  </form>

  <UserAgreement
    @onClose={{fn this.onToggleUserAgreement false}}
    @show={{this.showUserAgreement}}
  />
</Layout::LoggedOut>
