<Layout::LoggedOut
  @pageTitle="Reset Password"
>
  <form
    data-role="update-password-form"
    {{on "submit" this.onCreatePassword}}
  >
    <Input::Textbox
      @class="w-full mb-16"
      @error={{this.passwordManager.passwordError}}
      @label="Enter New Password"
      @message="Please enter a valid password."
      @name="password"
      @type="password"
      @value={{this.passwordManager.password}}

      @onKeyUp={{fn this.onCheckPasswordMatch}}
    />
    <Input::Textbox
      @class="w-full mb-16"
      @error={{this.passwordManager.passwordConfirmationError}}
      @success={{this.passwordManager.passwordConfirmationSuccess}}
      @label="Confirm New Password"
      @message={{this.passwordManager.passwordConfirmationMessage}}
      @name="confirm-password"
      @type="password"
      @value={{this.passwordManager.passwordConfirmation}}

      @onKeyUp={{fn this.onCheckPasswordMatch}}
    />

    <PasswordChecklist @class="mt-16 mb-24" />

    <Button
      @role="create-password"
      @type="submit"
      @disabled={{not this.isUpdateBtnEnabled}}
      @class="block mt-24"
    >
      Update
    </Button>
  </form>
</Layout::LoggedOut>
