<Layout::LoggedOut
  @pageTitle="Password reset"
>
  {{#if this.isResetSentSuccess}}
    <div data-role="password-reset-success">
      <p class="heading-6">Thanks for providing your email address.</p>
      <p class="text-lg">
        Check your inbox for password reset instructions.
        If the email doesn't show up soon, check your SPAM folder.
      </p>
    </div>
  {{else}}
    <form
      data-role="password-reset-form"
      {{on "submit" this.onReset}}
    >
      <Input::Textbox
        @class="w-full mb-16"
        @value={{this.email}}
        @label="Email Address"
        @name="email"
        @error={{this.emailError}}
        @message="Please include a valid email address."
        @onFocusOut={{fn this.onValidateEmail}}
      />

      <div class="flex justify-between items-center">
        <LinkTo @route="login">
          Back to login
        </LinkTo>

        <Button
          @role="reset-password"
          @disabled={{this.isResetDisabled}}
          @type="submit"
        >
          Reset Password
        </Button>
      </div>
    </form>
  {{/if}}
</Layout::LoggedOut>
